# Environment Variables
.env

# Knowledge bases (raw PDFs stay, generated indexes don't)
#knowledge_bases/**/faiss/
#knowledge_bases/**/embeddings/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# HuggingFace
.cache/

# macOS
.DS_Store

# Windows
Thumbs.db

# Streamlit cache
.streamlit/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/